importFrom("seewave", "meanspec", "spec", "specprop", "bwfilter", "fpeaks")
import("MASS")
import("tools")
importFrom("tuneR", "readWave", "mono", "stereo", "downsample")
import("WaveletComp")
importFrom("graphics", "abline")
importFrom("stats", "approx", "filter", "na.omit", "runmed")

export(autoBandPassFilter)
export(beatSpectrum)
export(pulseSegmentation)
export(standardiseWave)
export(frequencySpectrumAAO)
export(frequencySpectrumPowerPercentile)
export(frequencySpectrumPowerQuartiles)
export(bandwidth)
