importFrom("seewave", "meanspec", "spec", "specprop", "bwfilter")
import("MASS")
import("tools")
importFrom("tuneR", "readWave", "mono", "stereo", "downsample")
import("WaveletComp")

export(autoBandPassFilter)
export(beatSpectrum)
export(pulseSegmentation)
export(standardiseWave)
export(frequencySpectrum50pc)
